
.header{
    height: 95vh; /*95% din view port*/
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.6), rgba($color-primary-dark,0.6)),url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box{
        position: absolute;
        top:40px;
        left:40px;
    }


    &__text-box{
        /* absolute se raporteaza la parinte */
            position: absolute; 
            top:40%;
            left:50%;
            /* transform se raporteaza la elementul insui, 50% din latimea si inaltimea elementului */
            transform: translate(-50%,-50%);
            text-align: center;
            
        
        }

    &__logo{
            height: 35px;
            /* backface-visibility: hidden; */
        }
    

}

